<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <style>
body{
    background: linear-gradient(rgb(15, 15, 15), rgba(142, 142, 150, 0.21)), url(http://getwallpapers.com/wallpaper/full/d/3/a/569506.jpg);
    /*background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('images/background.jpg');*/
    background-position:center;
    background-size: cover;
}
.logo{
    height: 80px;
    width: 110px;
    float: left;
}
.logo{
    width:250px;
    margin-top: 2px;
}
.movie-details{
    margin: 7% 4%;
}
.header{
    height: 10%;
}
.header-btn{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

.left-box{
    color: #fff;
    margin: 15px 0;
    padding: 20px;
    margin-top:10px;
}
.left-box a,button{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 10px;
    margin-top: 35px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600 ;
    display: inline-block;
    margin-right: 10px;     
}
.delete-btn{
    /*border: 1px solid #fff !important;*/
    background: #107afd ;
    border: none;
}
.fa{
    margin: 0 5px; 
}
.movie-img{
    height: 450px;
    width: 350px;
    box-shadow: -4px 4px 5px 0 #000;
    float: right;
    margin-top: 60px;
}

</style>

</head>
<body>
      <div class="logo">
      <a href="/"><img class="logo"src="https://fontmeme.com/permalink/191224/ea20a6dc7de255ad46c8e77cfa588258.png" alt="netflix-font" border="0"></a>
    <!--    <a  id="logo" href="/"><img src="https://fontmeme.com/permalink/191223/f1f021f481209004ad0adf41b3f53df1.png" alt="netflix-font" border="0"></a>-->
    </div>

<div class="container movie-details">
    <div class="row">
        <div class="col-md-6 left-box">
           <h1>{{movie.mov_name}}</h1><br><br>
           <h4>Movie Name:</h4>{{movie.mov_name}}<br><br>
           <h4>Director:</h4>{{movie.mov_dir}}<br><br>
           <h4>Actors:</h4>{{movie.mov_actor}}<br><br>
           <h4>Genre:</h4>{{movie.mov_genre}}<br><br>
           <h4>Language:</h4>{{movie.mov_language}}<br><br>
           <h4>Release Date:</h4>{{movie.mov_reldate}}<br><br>
           <h4>Plot:</h4>{{movie.mov_plot}}<br><br>
           <!--<h4>Critics Review:</h4>{{movie.mov_critics}}<br><br><br>-->
           
           <a href="{{movie.url}}/update"><i class="fa fa-pencil-square-o"></i>Update</a>
           <form action="{{movie.url}}/delete" method="post" name="deleteform">
           <input class="form-control" id="id" type="hidden" name="id" required="true" , value={{movie._id}}> </input>
           <button type="button" class="delete-btn" onclick="myConfirm()"><i class="fa fa-trash"></i> delete</button>
           </form>
           <br>
           <br>
            
        </div>
        <div class="col-md-6">
            <img src="{{movie.mov_thumb}}" onerror="this.src='https://www.urbannewsdigest.in/wp-content/themes/bigc/assets/css/images/no-thumbnail.png'" class="movie-img">
        </div>
    </div>
</div>
<script>
function myConfirm() {
    

  var result = confirm("Do You Want To Delete {{movie.mov_name}} ?");
    form1=document.forms['deleteform'];
  if (result==true) {
      form1.submit();
      alert("Movie deleted Successfully!");
    //return true;
  } else {
      //alert("Operation Rollbacked Successfully!");
   //return false;
  }
}/*


function delete(){
    alert("movie deleted successfully..!");
}*/
</script>


</body>
</html>